.card {
  margin: 5px;
  color: #b0d1e1;
  height: 200px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 0fr 0fr;
  gap: 0px 0px;
  grid-template-areas:
    '. . .'
    '. . .'
    '. . .';
}

.active {
  color: red;
}
